
:root {
    --red    : rgb(255, 60, 0);
    --green  : rgb(28, 204, 28);
    --yellow : yellow;
    --background : rgb(44, 44, 44);
    --fontsize : 25px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}


body {
    background-color: var(--background);
}

/* main {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(6, minmax(100px, 300px)) minmax(100px, 1fr);
    grid-template-rows: repeat(6, minmax(100px, 1fr));
} */

main {
    display: flex;
    flex-direction: column;
}

#output-container {
    align-self: center;
    text-align: center;
    /* grid-column: 3 / 7;
    grid-row: 2 / 3; */
    width: 700px;
    border: 5px solid;
    animation: myanimation 15s infinite;
    padding: 10px;
    border-radius: 5px;
}

#input-area {
    display: flex;
    align-self: center;
    /* grid-column: 3 / 7;
    grid-row: 3 / 4; */
    width: 500px;
    border-radius: 3px;
    padding: 50px;
}

.result {
    align-self: center;
    text-align: center;
    color: tomato;
    grid-row: 4 / 5;
    grid-column: 4 / 6;
}

.ouput-invisible {
    display: none;
}

output {
    font-size: var(--fontsize);
    font-family: monospace;
    color: white;
}

/*Needs to change*/
input {
    height: 45px;
    font-size: var(--fontsize);
    background-color: rgb(155, 155, 155);
}

.redo-button {
    border-radius: 5px;
    width: 300px;
    font-family: monospace;
    font-size: var(--fontsize);
    background-color: rgb(80, 80, 80);
}

.active {
    color: var(--yellow);
}

.correct {
    color: var(--green);
}

.wrong {
    color: var(--red);
}

@keyframes myanimation {
    0%{border-color: red;}
    7.5%{border-color: darkred;}
    15%{border-color: rebeccapurple;}
    30%{border-color: blue;}
    45%{border-color: cyan;}
    60%{border-color: yellow;}
    75%{border-color: yellowgreen;}
    90%{border-color: orange;}
    100%{border-color: red;}
}