/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


:root {
    --red    : rgb(255, 60, 0);
    --green  : rgb(28, 204, 28);
    --yellow : yellow;
    --background : rgb(44, 44, 44);
    --fontsize : 25px;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}


body {
    background-color: var(--background);
}

main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(100px, 1fr) repeat(6, minmax(100px, 300px)) minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr) repeat(6, minmax(100px, 300px)) minmax(100px, 1fr);
    -ms-grid-rows: repeat(6 , minmax(100px, 1fr));
    grid-template-rows: repeat(6, minmax(100px, 1fr));
}

main > *:nth-child(1) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 1;
}

main > *:nth-child(2) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 2;
}

main > *:nth-child(3) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 3;
}

main > *:nth-child(4) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 4;
}

main > *:nth-child(5) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 5;
}

main > *:nth-child(6) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 6;
}

main > *:nth-child(7) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 7;
}

main > *:nth-child(8) {
    -ms-grid-row    : 1;
    -ms-grid-column    : 8;
}

main > *:nth-child(9) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 1;
}

main > *:nth-child(10) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 2;
}

main > *:nth-child(11) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 3;
}

main > *:nth-child(12) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 4;
}

main > *:nth-child(13) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 5;
}

main > *:nth-child(14) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 6;
}

main > *:nth-child(15) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 7;
}

main > *:nth-child(16) {
    -ms-grid-row    : 2;
    -ms-grid-column    : 8;
}

main > *:nth-child(17) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 1;
}

main > *:nth-child(18) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 2;
}

main > *:nth-child(19) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 3;
}

main > *:nth-child(20) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 4;
}

main > *:nth-child(21) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 5;
}

main > *:nth-child(22) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 6;
}

main > *:nth-child(23) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 7;
}

main > *:nth-child(24) {
    -ms-grid-row    : 3;
    -ms-grid-column    : 8;
}

main > *:nth-child(25) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 1;
}

main > *:nth-child(26) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 2;
}

main > *:nth-child(27) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 3;
}

main > *:nth-child(28) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 4;
}

main > *:nth-child(29) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 5;
}

main > *:nth-child(30) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 6;
}

main > *:nth-child(31) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 7;
}

main > *:nth-child(32) {
    -ms-grid-row    : 4;
    -ms-grid-column    : 8;
}

main > *:nth-child(33) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 1;
}

main > *:nth-child(34) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 2;
}

main > *:nth-child(35) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 3;
}

main > *:nth-child(36) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 4;
}

main > *:nth-child(37) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 5;
}

main > *:nth-child(38) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 6;
}

main > *:nth-child(39) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 7;
}

main > *:nth-child(40) {
    -ms-grid-row    : 5;
    -ms-grid-column    : 8;
}

main > *:nth-child(41) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 1;
}

main > *:nth-child(42) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 2;
}

main > *:nth-child(43) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 3;
}

main > *:nth-child(44) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 4;
}

main > *:nth-child(45) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 5;
}

main > *:nth-child(46) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 6;
}

main > *:nth-child(47) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 7;
}

main > *:nth-child(48) {
    -ms-grid-row    : 6;
    -ms-grid-column    : 8;
}

#output-container {
    -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    border: 5px solid;
    -webkit-animation: myanimation 15s infinite;
            animation: myanimation 15s infinite;
    padding: 10px;
    border-radius: 5px;
}

#input-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    border-radius: 3px;
    padding: 50px;
}

.result {
    -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    color: tomato;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
}

.ouput-invisible {
    display: none;
}

output {
    font-size: var(--fontsize);
    font-family: monospace;
    color: white;
}

/*Needs to change*/
input {
    height: 45px;
    width: 900px;
    font-size: var(--fontsize);
    background-color: rgb(155, 155, 155);
}

.redo-button {
    border-radius: 5px;
    width: 300px;
    font-family: monospace;
    font-size: var(--fontsize);
    background-color: rgb(80, 80, 80);
}

.active {
    color: var(--yellow);
}

.correct {
    color: var(--green);
}

.wrong {
    color: var(--red);
}

@-webkit-keyframes myanimation {
    0%{border-color: red;}
    7.5%{border-color: darkred;}
    15%{border-color: rebeccapurple;}
    30%{border-color: blue;}
    45%{border-color: cyan;}
    60%{border-color: yellow;}
    75%{border-color: yellowgreen;}
    90%{border-color: orange;}
    100%{border-color: red;}
}

@keyframes myanimation {
    0%{border-color: red;}
    7.5%{border-color: darkred;}
    15%{border-color: rebeccapurple;}
    30%{border-color: blue;}
    45%{border-color: cyan;}
    60%{border-color: yellow;}
    75%{border-color: yellowgreen;}
    90%{border-color: orange;}
    100%{border-color: red;}
}