
:root {
    --red    : rgb(255, 60, 0);
    --green  : rgb(28, 204, 28);
    --yellow : rgb(255, 251, 0);
    --orange : rgb(255, 115, 0);
    --redblack : rgba(211, 33, 33, 0.575);
    --lightorange :  rgb(255, 115, 0, .5);
    --lighterorange :  rgb(255, 115, 0, .2);
    --background : rgb(44, 44, 44);
    --fontsize : 25px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}


body {
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

.heading {
    align-self: center;
    color: var(--orange);
    margin-top: 10px;
    font-family: Valorant;
    font-size: 35px;
}

.wordinput {
    border: 0px;
    border-radius: 3px;
}

.output-container {
    margin-top: 15rem;
    align-self: center;
    text-align: center;
    width: 700px;
    border: none;
    /* animation: myanimation 15s infinite; */
    /* border-radius: 10px; */
    padding: 10px;
    /* background-color: rgb(61, 61, 61); */
}

#input-area {
    display: flex;
    align-self: center;
    width: 500px;
    /* border-radius: 3px; */
    padding: 50px;
}

.result {
    align-self: center;
    text-align: center;
    color: var(--orange);
    font-family: Valorant;
}

.ouput-invisible {
    display: none;
}

output {
    font-size: var(--fontsize);
    font-family: monospace;
    color: white;
}

input {
    height: 45px;
    font-size: var(--fontsize);
    background-color: rgb(155, 155, 155);
    /* border-radius: 10px; */
}

.redo-button {
    border-radius: 10px;
    width: 300px;
    font-family: monospace;
    font-size: var(--fontsize);
    background-color: rgb(80, 80, 80);
    margin-left: 10px;
}

.active {
    color: var(--yellow);
}

.correct {
    color: var(--green);
}

.wrong {
    color: var(--red);
}

.input-color-change {
    background-color: var(--redblack);
}

.settings-button {
    height: fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

@keyframes myanimation {
    0%{border-color: var(--red);}
    25%{border-color:var(--yellow);}
    50%{border-color: var(--green);}
    75%{border-color: var(--orange);}
    100%{border-color: var(--red);}
}

@font-face {
    font-family: Valorant;
    src: url("/Fonts/Valorant.ttf");
}