/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


:root {
    --red    : rgb(255, 60, 0);
    --green  : rgb(28, 204, 28);
    --yellow : yellow;
    --background : rgb(44, 44, 44);
    --fontsize : 25px;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}


body {
    background-color: var(--background);
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: white;
    margin-top: 10px;
    font-family: monospace;
    font-size: 35px;
}

#output-container {
    margin-top: 15rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    width: 700px;
    border: 5px solid;
    -webkit-animation: myanimation 15s infinite;
            animation: myanimation 15s infinite;
    padding: 10px;
    border-radius: 10px;
}

#input-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 500px;
    border-radius: 3px;
    padding: 50px;
}

.result {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    color: tomato;
}

.ouput-invisible {
    display: none;
}

output {
    font-size: var(--fontsize);
    font-family: monospace;
    color: white;
}

/*Needs to change*/
input {
    height: 45px;
    font-size: var(--fontsize);
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
}

.redo-button {
    border-radius: 10px;
    width: 300px;
    font-family: monospace;
    font-size: var(--fontsize);
    background-color: rgb(80, 80, 80);
    margin-left: 10px;
}

.active {
    color: var(--yellow);
}

.correct {
    color: var(--green);
}

.wrong {
    color: var(--red);
}

@-webkit-keyframes myanimation {
    0%{border-color: red;}
    7.5%{border-color: darkred;}
    15%{border-color: rebeccapurple;}
    30%{border-color: blue;}
    45%{border-color: cyan;}
    60%{border-color: yellow;}
    75%{border-color: yellowgreen;}
    90%{border-color: orange;}
    100%{border-color: red;}
}

@keyframes myanimation {
    0%{border-color: red;}
    7.5%{border-color: darkred;}
    15%{border-color: rebeccapurple;}
    30%{border-color: blue;}
    45%{border-color: cyan;}
    60%{border-color: yellow;}
    75%{border-color: yellowgreen;}
    90%{border-color: orange;}
    100%{border-color: red;}
}